<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="BookDao" class="com.Impl.com.migufun.BookDaoImpl">
        <!-- setter注入简单数据类型 -->
        <property name="count" value="10"></property>
        <property name="name" value="《毛泽东精选》"></property>
    </bean>
    <bean id="UserDao" class="com.Impl.com.migufun.UserDaoImpl"/>

    <bean id="BookService" class="com.Impl.com.migufun.BookServiceImpl">
        <!-- 引用数据类型的注入 -->
        <property name="bookDao" ref="BookDao"></property>
    </bean>
    <bean id="UserService" class="com.Impl.com.migufun.UserServiceImpl">
        <property name="userDao" ref="UserDao"></property>
    </bean>
</beans>